---
layout: default
title: Home
---
<!--
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.github.url }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>
    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
-->

<section>
  <div class="blurb-container">
    <h1>I'm Paul. I solve problems.</h1>
    <p>By day, I solve healthcare system integration problems over at <a href="https://www.interfaceware.com/" target="_blank">iNTERFACEWARE</a>, a software company based in Toronto.</p>
    <p>By night, I try my best to solve what I believe is <a href="#" target="_blank">a big problem in physics education</a>.</p>
  </div>
</section>
