<div class="row g-5 mb-5">
  <div class="col-md-6">
    <h3 class="fw-bold">Hi, I'm Paul</h3>
    <p class="lead">There are three things that I am passionate about: solving problems, building things, and learning. I solve problems during the day through my job as a <a href="https://www.interfaceware.com/company">healthcare IT solutions architect</a>. I build things at night through my <a href="https://github.com/LeNPaul">open source projects</a>. I learn things on the weekend and write about them on <a href="https://hungryminds.ca/">my blog</a>.</p>
  </div>
  <div class="col-md-6">
    <img src="/assets/images/profile.jpg" alt="Profile" width="100%">
  </div>
</div>
