<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <nav class="sidebar-nav">
    {% for item in site.data.settings.menu %}
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.github.url }}/{{ item.url }}">{{ item.name }}</a>
    {% endfor %}
    <div class="sidebar-nav-item" style="display:inline">
      {% for item in site.data.settings.social %}
        <a class="sidebar-social" href="{{ item.link }}" target="_blank"><i class="fa fa-{{ item.icon }}" aria-hidden="true" style="padding:8px;"></i></a>
      {% endfor %}
    </div>
  </nav>
</div>
