<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.github.url }}/">Home</a>

    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.github.url }}/about.html">About</a>

    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.github.url }}/blog.html">Blog</a>

    <div class="sidebar-nav-item" style="display:inline">
      <a href="https://twitter.com/paululele"><i class="fa fa-twitter" aria-hidden="true" style="padding:10px;" target="_blank"></i></a>
      <a href="https://instagram.com/paululele"><i class="fa fa-instagram" aria-hidden="true" style="padding:10px;" target="_blank"></i></a>
      <a href="https://linkedin.com/in/lenpaul"><i class="fa fa-linkedin" aria-hidden="true" style="padding:10px;" target="_blank"></i></a>
      <a href="mailto:l.nguyen.paul@gmail.com"><i class="fa fa-envelope" aria-hidden="true" style="padding:10px;" target="_blank"></i></a>
    </div>

  </nav>
</div>
