$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: "Roboto", sans-serif;
$linkColor: #268bd2;

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

a {
  color: $linkColor;
  text-decoration: none;
}

a:hover,
a:focus {
  color: $linkColor;
  opacity: 0.75;
}

.container {
  max-width: 960px;
}

.social-media-icons a {
  color: $bodyColor;
}
