---
layout: default
title: "Home"
---

<h1>Hi, I'm Paul</h1>
<p class="fs-5 col-md-8">There are three things that I am passionate about: solving problems, building things, and learning. I solve problems during the day through my job as a <a href="https://www.interfaceware.com/company">healthcare IT solutions architect</a>. I build things at night through my <a href="https://github.com/LeNPaul">open source projects</a>. I learn things on the weekend and write about them on <a href="/blog">my blog</a>.</p>
