---
layout: default
---

<h1>{{ page.title }}</h1>
<div class="pt-2">
  {% for post in site.posts %}
  <div class="row">
    <div class="col-md-8">
      <a href="{{ post.url }}" class="text-dark">
        <p>
          {% assign d = post.date | date: "%-d"  %}
          {{ post.date | date: "%B" }}
          {% case d %}
            {% when '1' or '21' or '31' %}{{ d }}st
            {% when '2' or '22' %}{{ d }}nd
            {% when '3' or '23' %}{{ d }}rd
            {% else %}{{ d }}th{% endcase %},
          {{ post.date | date: "%Y" }}
          -
          {{ post.title }}
        </p>
      </a>
    </div>
  </div>
  {% endfor %}
</div>
